<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="first" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Programming Masters</ion-title>
  </ion-toolbar>
</ion-header>
<ion-text class="ion-margin-top ion-margin-start head-text" color="medium">
  Hello <br>
  {{username}}
</ion-text>
<ion-content>

</ion-content>

