<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon>&nbsp;Back To Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
      Reset Your Password
    </ion-card-title>
    <ion-card-subtitle>
      Please enter your email to get a password reset link
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">Your Email</ion-label>
      <ion-input clearInput placeholder="enter your email here" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" expand="full" (click)="sendLink()">Get Link</ion-button>

  </ion-card-content>
  </ion-card>
</ion-content>
